/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
   * Remove default margin.
   */
body {
  margin: 0;
}

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none;
}

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold;
}

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic;
}

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px;
}

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto;
}

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none;
}

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto;
}

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold;
}

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* basic */
.pagenation {
  display: inline-block;
  text-align: center;
  font-size: 0;
  margin: 20px 0 30px;
  width: 100%;
}

.pagenation a {
  background: white;
}

.pagenation a,
.pagenation strong {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  color: #555;
  border: 1px solid #e2e2e2;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  border-radius: 50%;
}

.pagenation a.jump, .pagenation a.move,
.pagenation strong.jump,
.pagenation strong.move {
  font-size: 0;
}

.pagenation a.jump i, .pagenation a.move i,
.pagenation strong.jump i,
.pagenation strong.move i {
  font-size: 20px;
  line-height: 30px;
}

.pagenation a.jump,
.pagenation strong.jump {
  width: auto;
  background: #efefef;
  padding: 0 5px;
}

.pagenation a.jump i::before,
.pagenation strong.jump i::before {
  margin: 0;
  padding: 0;
  width: auto;
}

.pagenation .active,
.pagenation strong {
  background: #e00029;
  color: white;
  font-weight: normal;
  border-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
select,
textarea {
  border-radius: 0;
  background-clip: padding-box;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}

input::-ms-expand,
select::-ms-expand,
textarea::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
  color: #444;
}

/*font*/
html {
  min-width: 1080px;
  max-width: 100%;
  font-size: 14px;
  min-height: 100%;
}

body {
  font-family: "", "Malgun Gothic", "apple sd gothic neo", sans-serif;
  color: #333;
  min-width: 1080px;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* style */
body {
  text-align: center;
  /* header */
  /* mainContent */
  /* map */
  /* subContent */
  /* footer */
}

body header .container {
  background: #0B0B06;
  width: 1080px;
  margin: 0 auto;
}

body header .container div.ad {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1080px;
  height: 20.125rem;
}

body header .container div.ad button {
  position: absolute;
  top: 7.75rem;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50px;
  border: none;
  font-size: 0;
  outline: none;
}

body header .container div.ad button.slick-prev {
  left: 1.875rem;
  z-index: 99;
  background: url("../images/arrow.svg") no-repeat center/100% auto;
}

body header .container div.ad button.slick-next {
  right: 1.875rem;
  background: url("../images/arrow.svg") no-repeat center/100% auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body header .container h1.sub_logo {
  margin: 0 auto;
  width: 10rem;
  height: 7.5rem;
  font-size: 0;
  background: url("../images/sub_logo.svg") no-repeat center/100% auto;
}

body div#content .container {
  margin: 0 auto;
  padding-top: 3.75rem;
  width: 1080px;
  height: 107.3125rem;
  background: url("../images/bg.jpg") no-repeat center/100% auto;
}

body div#content .container h1.logo {
  margin: 0 auto 3.125rem auto;
  font-size: 0;
  width: 25rem;
  height: 16.25rem;
  background: url("../images/logo.svg") no-repeat center/100% auto;
}

body div#content .container ul.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

body div#content .container ul.navigation li {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 34.6875rem;
  width: 28.75rem;
  margin: 0 3.4375rem 4.375rem 0;
  border-radius: 1.875rem;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

body div#content .container ul.navigation li:nth-of-type(1) {
  background: #19964F;
}

body div#content .container ul.navigation li:nth-of-type(1)::before {
  position: absolute;
  top: 5.3125rem;
  left: 50%;
  margin-left: -5.3125rem;
  content: "";
  display: block;
  width: 10.625rem;
  height: 12.5rem;
  background: url(../images/navi_01.svg) no-repeat center/100% auto;
}

body div#content .container ul.navigation li:nth-of-type(2) {
  background: #19964F;
  margin: 0;
}

body div#content .container ul.navigation li:nth-of-type(2)::before {
  position: absolute;
  top: 5.3125rem;
  left: 50%;
  margin-left: -3rem;
  content: "";
  display: block;
  width: 10.625rem;
  height: 12.5rem;
  background: url(../images/navi_02.svg) no-repeat center/100% auto;
}

body div#content .container ul.navigation li:nth-of-type(3) {
  background: #474747;
}

body div#content .container ul.navigation li:nth-of-type(3)::before {
  position: absolute;
  top: 5.3125rem;
  left: 50%;
  margin-left: -4.75rem;
  content: "";
  display: block;
  width: 10.625rem;
  height: 12.5rem;
  background: url(../images/navi_03.svg) no-repeat center/100% auto;
}

body div#content .container ul.navigation li:nth-of-type(4) {
  background: #474747;
  margin: 0;
}

body div#content .container ul.navigation li:nth-of-type(4)::before {
  position: absolute;
  top: 5.625rem;
  left: 50%;
  margin-left: -4.375rem;
  content: "";
  display: block;
  width: 8.75rem;
  height: 12.5rem;
  background: url(../images/navi_04.svg) no-repeat center/100% auto;
}

body div#content .container ul.navigation li a {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 2.75rem;
  padding-top: 20.625rem;
  font-weight: 500;
}

body div#content .container ul.navigation li a span {
  display: block;
}

body div#content .container ul.navigation li a span.info {
  font-size: 1.625rem;
  margin-top: 0.5rem;
}

body div#map .container div.map h2 {
  margin: 0;
  font-size: 3.125rem;
  padding: 7.5rem 0 5rem 0;
}

body div#map .container div.map div.map_img {
  margin: 0 auto 9.375rem auto;
  width: 1080px;
  height: 46.875rem;
}

body div#map .container div.map div.map_img button {
  position: absolute;
  padding: 0;
  bottom: -130px;
  width: calc(100% / 2);
  height: 9.375rem;
  border: none;
  outline: none;
  font-size: 2.625rem;
  text-align: center;
  background: #f5f5f5;
}

body div#map .container div.map div.map_img button.slick-prev {
  left: 0;
  border-right: 1px solid #999;
  z-index: 99;
}

body div#map .container div.map div.map_img button.slick-next {
  right: 0;
}

body div#map .container div.guid {
  width: 1080px;
  margin: 0 auto;
}

body div#map .container div.guid div.guid_wrap {
  position: relative;
  height: 56rem;
  padding: 3.75rem;
}

body div#map .container div.guid div.guid_wrap h4 {
  font-size: 2rem;
  margin: 0;
  width: calc(100% - 400px);
  height: 5rem;
  border-radius: 3.125rem 3.125rem 3.125rem 0;
  line-height: 5rem;
  text-align: left;
  padding-left: 2.875rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

body div#map .container div.guid div.guid_wrap span {
  position: absolute;
  font-size: 0;
  width: 5rem;
  height: 5rem;
  top: 3.75rem;
}

body div#map .container div.guid div.guid_wrap span.b01 {
  background: url("../images/heal.svg") no-repeat center/100% auto;
  right: 3.75rem;
}

body div#map .container div.guid div.guid_wrap span.b02 {
  background: url("../images/rest.svg") no-repeat center/100% auto;
  right: 10rem;
}

body div#map .container div.guid div.guid_wrap span.b03 {
  background: url("../images/fountain.svg") no-repeat center/100% auto;
  right: 16.25rem;
}

body div#map .container div.guid div.guid_wrap span.b04 {
  background: url("../images/charcoal.svg") no-repeat center/100% auto;
  right: 3.75rem;
}

body div#map .container div.guid div.guid_wrap span.b05 {
  background: url("../images/toilet.svg") no-repeat center/100% auto;
  right: 16.25rem;
}

body div#map .container div.guid div.guid_wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 2.5rem;
  height: 30rem;
}

body div#map .container div.guid div.guid_wrap ul li {
  text-align: left;
  line-height: 3rem;
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}

body div#map .container div.guid div.guid_wrap ul li b {
  font-weight: 500;
  display: block;
  margin-left: 0.9375rem;
}

body div#map .container div.guid div.guid_wrap.guid_01 h4 {
  background: #CED878;
}

body div#map .container div.guid div.guid_wrap.guid_01 ul {
  border: 1px solid #CED878;
}

body div#map .container div.guid div.guid_wrap.guid_02 h4 {
  background: #8D7C74;
  color: #fff;
}

body div#map .container div.guid div.guid_wrap.guid_02 ul {
  border: 1px solid #8D7C74;
}

body div#map .container div.guid div.guid_wrap.guid_03 h4 {
  background: #90BED2;
  color: #fff;
}

body div#map .container div.guid div.guid_wrap.guid_03 ul {
  border: 1px solid #90BED2;
}

body div#map .container div.guid div.guid_wrap.guid_04 h4 {
  background: #A5D5CD;
}

body div#map .container div.guid div.guid_wrap.guid_04 ul {
  border: 1px solid #A5D5CD;
}

body div#map .container div.guid div.guid_wrap.guid_05 h4 {
  background: #EABF95;
}

body div#map .container div.guid div.guid_wrap.guid_05 ul {
  border: 1px solid #EABF95;
}

body div#map .container div.guid div.guid_wrap.guid_06 h4 {
  background: #EDABAB;
}

body div#map .container div.guid div.guid_wrap.guid_06 ul {
  border: 1px solid #EDABAB;
}

body div#map .container div.guid div.guid_wrap.guid_07 h4 {
  background: #86A36C;
  color: #fff;
}

body div#map .container div.guid div.guid_wrap.guid_07 ul {
  border: 1px solid #86A36C;
}

body div#map .container div.guid div.guid_wrap.guid_08 h4 {
  background: #B1A9A5;
  color: #fff;
}

body div#map .container div.guid div.guid_wrap.guid_08 ul {
  border: 1px solid #B1A9A5;
}

body div#map .container div.guid div.guid_wrap.guid_09 h4 {
  background: #8AA5CA;
  color: #fff;
}

body div#map .container div.guid div.guid_wrap.guid_09 ul {
  border: 1px solid #8AA5CA;
}

body div#map .container div.guid div.guid_wrap.guid_10 h4 {
  background: #F1D59A;
}

body div#map .container div.guid div.guid_wrap.guid_10 ul {
  border: 1px solid #F1D59A;
}

body div#map .container div.guid div.guid_wrap.guid_11 h4 {
  background: #E7E7E7;
}

body div#map .container div.guid div.guid_wrap.guid_11 span.b03 {
  right: 10rem;
}

body div#map .container div.guid div.guid_wrap.guid_11 ul {
  border: 1px solid #E7E7E7;
}

body div#sub_content {
  position: relative;
}

body div#sub_content .container {
  background: #f6f6f6;
  margin: 0 auto;
  width: 1080px;
  height: 129rem;
  padding: 0 3.75rem;
}

body div#sub_content .container div.p_lookup.number input {
  width: 54.875rem;
}

body div#sub_content .container div.p_lookup.parking ul.check {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

body div#sub_content .container div.p_lookup.parking ul.check li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc((100% / 3) - 10px);
  height: 17.5rem;
  margin-bottom: 1.875rem;
  margin-right: 0.625rem;
}

body div#sub_content .container div.p_lookup.parking ul.check li:nth-child(3) {
  margin-right: 0;
}

body div#sub_content .container div.p_lookup.parking ul.check li:nth-child(6) {
  margin-right: 0;
}

body div#sub_content .container div.p_lookup.parking ul.check li.active a {
  background: #F0FCF2;
  border: 2px solid #0CA129;
  color: #0CA129;
}

body div#sub_content .container div.p_lookup.parking ul.check li a {
  display: block;
  width: 100%;
  height: 17.5rem;
  background: transparent;
  border: 1px solid #a3a3a3;
  color: #929292;
  font-size: 2.5rem;
  padding-top: 2.5rem;
}

body div#sub_content .container div.p_lookup.parking ul.check li a:hover {
  background: #F0FCF2;
  border: 2px solid #0CA129;
  color: #0CA129;
}

body div#sub_content .container div.p_lookup.parking ul.check li a span {
  display: block;
  line-height: 0;
}

body div#sub_content .container div.p_lookup h2 {
  margin: 0;
  font-size: 3.125rem;
  padding: 7.5rem 0 5rem 0;
}

body div#sub_content .container div.p_lookup select {
  border: none;
  border-radius: 0.9375rem;
  width: 15.625rem;
  height: 8.125rem;
  vertical-align: top;
  padding: 0 2.5rem;
  font-size: 2.125rem;
  color: #333;
  margin-right: 0.625rem;
}

body div#sub_content .container div.p_lookup input {
  border: none;
  border-radius: 0.9375rem;
  width: 38.3125rem;
  height: 8.125rem;
  padding: 0 2.5rem;
  font-size: 2.125rem;
  color: #333;
  margin-right: 0.625rem;
}

body div#sub_content .container div.p_lookup input::-webkit-input-placeholder {
  color: #afafaf;
}

body div#sub_content .container div.p_lookup input:-ms-input-placeholder {
  color: #afafaf;
}

body div#sub_content .container div.p_lookup input::-ms-input-placeholder {
  color: #afafaf;
}

body div#sub_content .container div.p_lookup input::placeholder {
  color: #afafaf;
}

body div#sub_content .container div.p_lookup a {
  display: inline-block;
  width: 13.75rem;
  height: 8.125rem;
  border: 1px solid #B8B8B8;
  background: #ECECEC;
  vertical-align: top;
  border-radius: 0.9375rem;
  font-size: 2.5rem;
  line-height: 8.125rem;
  text-align: center;
  cursor: pointer;
}

body div#sub_content .container table {
  white-space: nowrap;
  border-spacing: 0;
  width: 100%;
  margin: 3.75rem 0;
}

body div#sub_content .container table thead tr th {
  background: #474747;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  width: 11.125rem;
  height: 11.125rem;
  line-height: 11.125rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
}

body div#sub_content .container table thead tr th:hover {
  background: #cfcfcf;
  color: #333;
}

body div#sub_content .container table thead tr th:nth-child(1) {
  border-left: none;
}

body div#sub_content .container table thead tr th:nth-child(6) {
  width: 14rem;
  border-right: none;
  font-size: 0;
}

body div#sub_content .container table thead tr th:nth-child(6) img {
  width: 8.125rem;
  margin-top: 3.4375rem;
}

body div#sub_content .container table thead tr th:nth-child(6) img.mouse_over {
  display: none;
}

body div#sub_content .container table thead tr th:nth-child(6):hover img {
  display: none;
}

body div#sub_content .container table thead tr th:nth-child(6):hover img.mouse_over {
  margin-left: 2.875rem;
  display: block;
}

body div#sub_content .container table tbody tr td {
  background: #474747;
  display: inline-block;
  vertical-align: top;
  width: 11.125rem;
  height: 11.125rem;
  line-height: 11.125rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  border-right: 1px solid #707070;
}

body div#sub_content .container table tbody tr td:hover {
  background: #cfcfcf;
  color: #333;
}

body div#sub_content .container table tbody tr td:nth-child(1) {
  border-left: none;
}

body div#sub_content .container table tbody tr td:nth-child(6) {
  width: 14rem;
  border-right: none;
}

body div#sub_content .container div.info {
  background: #fff;
  width: 100%;
  height: 59.375rem;
}

body div#sub_content .container div.info p {
  height: 170px;
  margin: 0;
  line-height: 59.375rem;
  font-size: 2.75rem;
  color: #909090;
}

body div#sub_content .container section.payment h2 {
  font-size: 2.875rem;
  text-align: left;
  margin-top: 3.75rem;
}

body div#sub_content .container section.payment div.lodge {
  background: #fff;
  width: 100%;
  height: 41.875rem;
  padding: 3.75rem 1.875rem;
}

body div#sub_content .container section.payment div.lodge ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0 0 3.75rem 0;
  display: inline-block;
}

body div#sub_content .container section.payment div.lodge ul li {
  display: inline-block;
}

body div#sub_content .container section.payment div.lodge ul li h5 {
  display: inline-block;
  width: 35rem;
  margin: 0;
  text-align: left;
  font-size: 2.5rem;
  color: #888;
  font-weight: 500;
}

body div#sub_content .container section.payment div.lodge ul li strong {
  font-size: 2.5rem;
  font-weight: 500;
  color: #7c7c7c;
  margin: 0 2.5rem;
}

body div#sub_content .container section.payment div.lodge ul li button {
  border: none;
  border-radius: 0.75rem;
  font-size: 0;
  margin: 0;
  padding: 0;
  background: #5d5d5d;
  background: -webkit-gradient(linear, left top, left bottom, from(#5d5d5d), to(#2F2F2F));
  background: linear-gradient(#5d5d5d, #2F2F2F);
  color: #fff;
  width: 5rem;
  height: 5rem;
  line-height: 0.75rem;
}

body div#sub_content .container section.payment div.lodge ul li button i {
  font-size: 2.125rem;
}

body div#sub_content .container section.payment div.lodge ul li button i::before {
  margin: 0;
  padding: 0;
}

body div#sub_content .container section.payment div.lodge ul li button.delete {
  display: block;
  border: none;
  border-radius: 0.75rem;
  width: 9.375rem;
  height: 5rem;
  color: #fff;
  background: #E44949;
  font-size: 1.75rem;
  line-height: 1.75rem;
  margin-left: 3.125rem;
}

body div#sub_content .container section.payment div.lodge ul li button.delete i {
  margin-right: 0.625rem;
}

body div#sub_content .container section.payment p.price {
  text-align: right;
  font-size: 3.125rem;
  color: #E70F0F;
  font-weight: 600;
}

body div#sub_content .container section.payment p.price strong {
  color: #333;
  margin-right: 1.875rem;
}

body div#sub_content .container div.loading {
  background: #fff;
  width: 100%;
  height: 59.375rem;
  padding-top: 18.75rem;
}

body div#sub_content .container div.loading i {
  font-size: 8.75rem;
  color: #909090;
}

body div#sub_content .container div.loading h2 {
  font-size: 2.75rem;
  color: #909090;
  font-weight: 500;
}

body div#sub_content .container div.list_wrap {
  overflow: hidden;
  height: 48.75rem;
}

body div#sub_content .container div.list_wrap.down {
  overflow: auto;
  height: 62.5rem;
}

body div#sub_content .container div.list_wrap ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

body div#sub_content .container div.list_wrap ul.list li {
  background: #fff;
  margin-bottom: 1.875rem;
  padding: 3.125rem;
  height: 22.5rem;
}

body div#sub_content .container div.list_wrap ul.list li h3 {
  margin: 0;
  font-size: 1.875rem;
  color: #0CA129;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #989898;
}

body div#sub_content .container div.list_wrap ul.list li ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: transparent;
  margin-top: 3.125rem;
}

body div#sub_content .container div.list_wrap ul.list li ul li {
  height: 1.25rem;
  padding: 0;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

body div#sub_content .container div.list_wrap div.more p.bg {
  position: absolute;
  left: 50%;
  margin-left: -540px;
  bottom: 11.25rem;
  height: 12.5rem;
  font-size: 0;
  width: 1080px;
  background: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#B8B8B8));
  background: linear-gradient(transparent, #B8B8B8);
}

body div#sub_content .container div.list_wrap div.more a {
  position: absolute;
  bottom: 14.375rem;
  left: 50%;
  margin-left: -4.75rem;
  z-index: 99;
  display: block;
  font-size: 2.5rem;
}

body div#sub_content div.popup {
  display: none;
  position: absolute;
  top: -8.3125rem;
  left: 50%;
  margin-left: -540px;
  z-index: 999;
  width: 1080px;
  padding: 0 3.125rem;
  background: rgba(0, 0, 0, 0.6);
}

body div#sub_content div.popup div.outline {
  background: #f2f2f2;
  height: 62.5rem;
  margin-top: 31.25rem;
  padding: 3.125rem;
}

body div#sub_content div.popup div.outline h2 {
  font-size: 3.75rem;
  margin: 0;
}

body div#sub_content div.popup div.outline div {
  background: #fff;
  height: 48.125rem;
  margin-top: 3.125rem;
}

body div#sub_content div.popup div.outline div img {
  width: 21.875rem;
  margin-top: 10rem;
}

body div#sub_content div.popup div.outline div p {
  font-size: 2.5rem;
  margin-top: 5.625rem;
}

body footer .container {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}

body footer .container ul.weather {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 9.625rem;
  background: #f6f6f6;
}

body footer .container ul.weather li {
  position: relative;
  display: inline-block;
  font-size: 2.25rem;
  line-height: 9.625rem;
  margin-right: 2.5rem;
}

body footer .container ul.weather li:nth-child(1)::after {
  position: absolute;
  top: 3.4375rem;
  right: -1.5625rem;
  content: "";
  display: block;
  width: 0.125rem;
  height: 3.125rem;
  background: #333;
}

body footer .container ul.weather li:nth-child(2) {
  margin-right: 0;
}

body footer .container ul.weather li i {
  font-size: 2.375rem;
}

body footer .container a.button {
  display: inline-block;
  position: absolute;
  background: #999;
  height: 11.25rem;
  line-height: 11.25rem;
  color: #fff;
  bottom: 0;
  text-align: center;
}

body footer .container a.button.home_btn {
  left: 0;
  width: 16.25rem;
  background: #5d5d5d;
  background: -webkit-gradient(linear, left top, left bottom, from(#5d5d5d), to(#272727));
  background: linear-gradient(#5d5d5d, #272727);
  font-size: 0;
}

body footer .container a.button.home_btn i {
  font-size: 3.75rem;
}

body footer .container a.button.print_btn {
  right: 0;
  width: 60.9375rem;
  background: #69D978;
  background: -webkit-gradient(linear, left top, left bottom, from(#69D978), to(#199653));
  background: linear-gradient(#69D978, #199653);
  font-size: 3.125rem;
}

body footer .container a.button.map {
  width: 1080px;
  font-size: 3.125rem;
}

body footer .container a.button.map i {
  margin-right: 1.875rem;
}
/*# sourceMappingURL=style.css.map */